//Bourbon Visual Grid Settings
$visual-grid: false;
$visual-grid-color: pink;
$visual-grid-opacity: .3;

//Vendor: Bourbon
@import 'vendor/bourbon/bourbon.scss';
//Vendor: Bourbon Neat
@import 'vendor/neat/neat.scss';
//Helpers
@import 'helpers/_variables.scss';
@import 'helpers/_mixins.scss';

//Theme
@import 'theme/_typography.scss';

//Layout
@import 'layout/_grid.scss';
@import 'layout/_header.scss';
@import 'layout/_nav.scss';
@import 'layout/_sections.scss';
@import 'layout/_footer.scss';


//Base
@import 'base/_base.scss';

//Components
@import 'components/_buttons.scss';

